<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    
    <import resource="applicationContext-action.xml" />
    <import resource="applicationContext-dao.xml" />
	<import resource="applicationContext-service.xml" />
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:default.properties</value>
			</list>
		</property>
	</bean>

</beans>
