<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    
    <bean id="searchRecordService" class="tw.gov.thb.onebox.service.SearchRecordServiceImpl">
        <property name="recordDao" ref="recordDao" />
    </bean>
    
    <bean id="socialAnalyticsService" class="tw.gov.thb.onebox.service.SocialAnalyticsServiceImpl">
    	<property name="appKey" value="${sa.app.key}" />
    	<property name="appSecret" value="${sa.app.secret}" />
    	<property name="apiUrl" value="${sa.api.url}" />
    	<property name="profile" value="${sa.profile}" />
    </bean>
    
</beans>